@model NotariatProjetUTC503.Models.client

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nomEtatCivil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomEtatCivil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prenom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prenom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prenoms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prenoms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ville)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ville)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateNaiss)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateNaiss)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lieuxNaiss)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lieuxNaiss)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nationalite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nationalite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.profession)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.profession)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telPortable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telPortable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telFixe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telFixe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateDC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateDC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lieuxDC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lieuxDC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adFiscale.rue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adFiscale.rue)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
