@model IEnumerable<NotariatProjetUTC503.Models.client>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nomEtatCivil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prenom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prenoms)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ville)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateNaiss)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lieuxNaiss)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nationalite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.profession)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telPortable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telFixe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateDC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lieuxDC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adFiscale.rue)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nomEtatCivil)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prenom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prenoms)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ville)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateNaiss)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lieuxNaiss)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nationalite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.profession)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telPortable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telFixe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateDC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lieuxDC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adFiscale.rue)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
