@model IEnumerable<NotariatProjetUTC503.Models.dossier>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dateCreation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateButoireSigna)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateSigna)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateTransImpot)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateRetourImpot)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.claire.nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.notaire.nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.secretaire.nom)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dateCreation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateButoireSigna)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateSigna)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateTransImpot)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateRetourImpot)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.claire.nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.notaire.nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.secretaire.nom)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
